artefacts/
__pycache__
.DS_Store
.vscode/
logs/
.ipynb_checkpoints/
.Rhistory
.RData
hg19-tss-centered-10kb-10species.mc9nr.feather
test_dump
code
deps
craft/dependencies
CRAFT.egg-info
build/
_build/
__pycache__
.pytest_cache
logs.log


!tests/artefacts