name: CRAFT

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2.0' # The R version to download (if necessary) and use.
    
    - run: Rscript -e 'print("hello")'
  
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
           packages: |
                    any::Rcpp

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        
    
    - name: Test with pytest
      run: |
        export CPATH=/usr/include
        export LIBRARY_PATH=/usr/lib
        bash test_setup.sh
        python -m pytest tests/unittest

    - name: 'Upload Artifact'
      if: always()
      uses: actions/upload-artifact@v4
      with:
          name: my-artifact
          path: test_dump
          retention-days: 5
      
        

  